.empty-wishlist{
    height: 350px;
    width: 350px;
    margin: 30px auto;
    margin-block: 120px;
    text-align: center;
}
.empty-wishlist img{
    width: 85%;
    height: 75%;
}
.empty-wishlist button{
    width: 320px;
    height: 40px;
    border-radius: 5px;
    background-color: #42a2a2;
    color: #fff;
    text-align: center;
   
    font-size: 16px;
    margin-top: 19px;
    padding: 10px 0;
    border: 1px solid #42a2a2
}
.empty-cart{
    height: 350px;
    width: 350px;
    margin: 90px auto;
    text-align: center;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
}
.empty-cart img{
    width: 72%;
    height: 70%;
}
.empty-cart p{
font-size: 19px;
}
.empty-cart button{
    width: 320px;
    height: 40px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #FF512F 0%, #F09819  100%);
    color: #fff;
    text-align: center;
   border: none;
   outline: none;
    font-size: 16px;
    margin-top: 19px;
    padding: 10px 0;
 
}