@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); 
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*{
  margin: 0;
  padding: 0;
  font-family: "outfit", sans-serif;
}
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
/* * {
  -webkit-tap-highlight-color: rgba(0,0,0,0.1); 
} */
button{
  cursor: pointer;
}
a{
  text-decoration: none;
}
body.no-scroll {
  overflow: hidden;
  height: 100%;
  width: 100%;
  /* position: fixed; */
}
.loader-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.loader {
  display: inline-block;
  width: 50px;
height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#ffa516 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#ffa516);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 0.5s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}
@media(max-width){
  .loader{
    width: 25px;
    height: 25px;
  }
}
