.cartitems {
  margin: 6% 6%;
  display: flex;
  justify-content: center;
  gap: 7%;
}
.select-all-buttons{
  display: flex;
  flex-direction: column;
}
.cart-items{
  display: flex;
 flex-direction: column;
 gap: 20px;
}
.select-button{
  background-color: #1c1c1c;
  height: 40px;
  width: 90px;
  outline: none;
  border: none;
  color: white;
  opacity: 1;
}
.cart-add-to-wishlist{
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #1c1c1c;
  width: 90px;
  height: 20px;
  font-size: 10px;
  outline: none;
  border: none;
  color: white;
  opacity: 1;
}
.checkbox {

  appearance: none;
 
  outline: none;
  cursor: pointer;
  background-color: white;
}

.checkbox.checked,.checkbox:checked {
  background-image: url("/public/Images/icons/checked.png"); /* Replace with your image URL */
  background-size: cover;
  border-radius: 2px;
  background-repeat: no-repeat;
}
.cartitems-down {
  display: flex;
  flex-direction: row-reverse;
  margin: 50px 0px;
}
.cartitems-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  gap: 5px;
}

.cartitems-total-item {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 10px 0px;
}
.cartitems-total-item input{
  cursor: pointer;
width: 20px;
  height: 20px;

}
.cartitems-total button {
  width: 76%;
  height: 58px;
  outline: none;
  border: none;
  background-color: #ff5a5a;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.cartitems-promocode {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
}
.cartitems-promocode p {
  color: #555;
}
.cartitems-promobox {
  width: 100%;
  margin-top: 15px;
  padding-left: 0px;
  height: 58px;
  background-color: #eaeaea;
}
.cartitems-promobox input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  width: 60%;
  padding-inline: 10px;
  height: 50px;
}
.cartitems-promobox input:focus{
  border: 1px solid #454545;
}
.cartitems-promobox button {
  width: 170px;
  height: 58px;
  font-size: 16px;
  background: black;
  color: #fff;
  cursor: pointer;
}

.empty-cart {
  height: clamp(200px, 30vw, 320px); /* Scales between 200px and 320px */
  width: clamp(200px, 30vw, 320px);  /* Scales between 200px and 320px */
  margin: clamp(40px, 10vw, 70px) auto; /* Dynamic margin with a minimum of 40px and maximum of 70px */
  text-align: center;
  border: 1px solid #c9c9c9;
}

.empty-cart img {
  width: 72%; /* Responsive image width */
  height: 73%; /* Responsive image height */
}

.empty-cart p {
  font-size: clamp(14px, 3vw, 19px); /* Responsive font size */
}

.empty-cart button {
  width: clamp(150px, 60%, 320px);  /* Dynamically adjust button width */
  width: clamp(200px, 30vw, 320px);  /* Scales between 200px and 320px */
  height: clamp(35px, 4vw, 40px);   /* Dynamic button height */
  border-radius: 5px;
  background-image: linear-gradient(to right, #FF512F 0%, #F09819 100%);
  color: #fff;
  text-align: center;
  border: none;
  outline: none;
  font-size: clamp(12px, 2.5vw, 16px); /* Responsive font size */
  margin-top: clamp(10px, 2vw, 19px); /* Responsive margin-top */
  padding: 10px 0;
}


.sold-out-indicator {
  display: inline-block;
  color: #ffffff;
  background-color: #ff4d4d;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.85em;
  text-transform: uppercase;
  margin-left: 10px;
  box-shadow: 0 2px 4px rgba(255, 77, 77, 0.2);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.itemContainer-base-item.sold-out{
  border: 1px solid red;
  position: relative;
  overflow: hidden;
}
/* Sold Out Item */
.cartitems-format.sold-out{
  opacity: 0.7;
 
  transition: opacity 0.3s ease;
 
}


.cartitems-format.sold-out::before {
  content: "Sold Out";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: rgba(244, 8, 8, 0.4);
  /* background-color: rgba(236, 20, 20, 0.5);  */
  color: #ffffff;

  padding: 2cqi 35cqi; 
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.7em;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cartitems-format.sold-out:hover {
  opacity: 0.85;
}
.remove-cart-buttons *{
  font-family: "Assistant";
}
.remove-cart-buttons{
display: flex;
flex-direction: column;
gap: 5px;
max-width: 380px;

}
.remove-cart-buttons button{
  background-color: #1c1c1c;
  height: 35px;
  width: 160px;
  border-radius: 13px;
  outline: none;
  border: none;
  color: white;
  opacity: 1;
  }
  .remove-cart-popup-buttons{
display: flex;
justify-content: space-between;
width: 95%;
  }
  .popup-close-img{
    display: flex;
    justify-content: flex-end;
  }
  .popup-close-img img{
    height: 30px;
    cursor: pointer;
    width: 30px;
  }
  .delete-cart-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background-color: white;
    border: 0.5px solid #000;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-block: 16px;
}
@media (max-width: 1080px) {
  .cartitems{
 
   
    gap: 4%;
  }
 
}
@media(max-width: 960px){
  .cartitems{
    margin: 6% 4%;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
    .delete-cart-modal {
        top: auto;
        bottom: 0;
        transform: translateX(-50%);
        width: 100%;
    }
}

  .remove-product-details {
    display: flex;
    align-items: center;
    gap: 1rem;
   padding-top: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
  }
  
  .remove-product-image {
    width: 100px;

    height: auto;
    border-radius: 8px;
  }
  .remove-product-info h3, .remove-product-info p{
    text-align: left;
  }
  .remove-product-info h3 {
    margin: 0;
    color: #555;
  }
  
  .remove-product-color {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .remove-color-box {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #ccc;
  }
  .cart-notification {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
   
    
    font-size: min(5cqi, 20px);
    background: linear-gradient(180deg, #950303, #f00d1e);
    color: white;
    padding: 3cqi 4cqi;
    border-radius: 2cqi;
    z-index: 602;
    max-width: 270px; 
    max-height: 40px;
    animation: fadeInOut 3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  }
  .cart-loader-container{
    width: 350px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Keyframes for fadeInOut animation */
  @keyframes fadeInOut {
    0% {
      opacity: 0; /* Completely invisible */
    }
    25% {
      opacity: 1; /* Fully visible */
    }
    75% {
      opacity: 1; /* Fully visible */
    }
    100% {
      opacity: 0; /* Completely invisible */
    }
  }
  
  @media (max-width: 480px) {
    .empty-cart{
      margin-block: 100px;
    }
    .select-button{
     
      height: 30px;
      width: 70px;
     margin-left: 3%;
     font-size: 2.5cqi;
      opacity: 1;
    }
    .delete-cart-modal {
      top: auto;
    
      bottom: 0;
      transform: translateX(-50%);
      width: 100%;
    }
    .remove-cart-buttons{
      width: 88%;
      margin-inline: auto;
      gap: 1px;
    }
    .remove-product-details {
      
      gap: 1rem;
    
      border-bottom: 1px solid #eee;
      padding-bottom: 1rem;
    }
    .remove-product-image {
      width: 79px;
      height: auto;
     
      border-radius: 8px;
    }
    .remove-cart-popup-buttons{
      display: flex;
      justify-content: space-between;
      width: 100%;
        }
        .remove-cart-buttons button{
          background-color: #1c1c1c;
          height: 40px;
          width: 140px;
          border-radius: 10px;
          outline: none;
          border: none;
          color: white;
          opacity: 1;
          }
          .popup-close-img img{
            height: 20px;
            cursor: pointer;
            width: 20px;
          }
          .remove-product-info h3 {
          
            font-size: 5.1cqi;
          }
          .remove-product-info p {
          
            font-size: 4.2cqi;
          }
          
  }
  