.coupon-close{
  
 margin-left: 350px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.coupon-input {
  padding: 15px;
  margin: 5px 0;
  border: 1px solid #ff9800; /* Orange border */
  border-radius: 4px;
  width: calc(70%); /* Adjust width for padding and border */
 outline: none;
  color: #121212; /* White text */
}
.apply-button{
  padding: 15px 25px;
  background-image: linear-gradient(
    to right,
    rgb(226 52 43) 0%,
    rgb(255 106 28) 100%
  );
  color: #dad4d4; /* Dark text */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}
.coupon-button-container{
  display: flex;
  justify-content: space-between;

}
.coupon-button-container button{
  padding: 15px 30px;
  background-image: linear-gradient(
    to right,
    rgb(226 52 43) 0%,
    rgb(255 106 28) 100%
  );
  color: #fffbfb; /* Dark text */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}
