/* PaymentMethod.css */

.payment-method-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    background-color: #fffefe;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .payment-method-options {
    display: flex;
    flex-direction: column;
    gap: 15px; 
  }
  
  .payment-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  .payment-option img{
    height: 45px;
  }
  .payment-method-text{
    margin-left: 10px;
    font-size: 18px;
  }
  .payment-option:hover {
    /* background-color: #e6e6e6; */
    border-color: #999;
  }
  .payment-method-statement{
    display: flex;
  
    align-items: center;
  }
  .payment-method-icon{
    display: flex;
  justify-content: center;
  gap: 10px;
    align-items: center;
  }
  .payment-option.selected {
    /* background-color: #1c1c1c; */
    /* color: #fff; */
    border-color: #1c1c1c;
  }
  .cod-amount{
    margin-left: 10px;
    font-size: 21px;
    font-weight: 500;
  }
  .payment-option input[type="radio"] {
    margin-right: 10px;
    height: 15px;
    width: 15px;
    accent-color: #1c1c1c; 
  }
  
  .icon {
    margin-right: 10px; 
  }
  .icon img{
    height: 45px;
  }
  .selected-method {
    margin-top: 15px;
    font-weight: bold;
  }
  .pulse-message {
    display: inline-block;
    padding: 5px 10px;
    background-color: #4caf50; /* Green background */
    background: linear-gradient(135deg, #4ADE80, #16A34A); 
    color: #fff; /* White text */
    font-size: 0.8rem;
    font-family: "Assistant";
    border-radius: 4px;
    text-align: center;
    animation: pulsemessage 1.5s infinite;
  
  }
  /* Skeleton.css */
  .skeleton {
    background: linear-gradient(
    45deg,
    #4ADE80 0%,     
    #4ADE80 20%,    
    #9feeb3 40%,
    #4ADE80 60%,
    #4ADE80 100%
  );
    background-size: 200% 200%;
    animation: shimmer 1.5s infinite;
    
  }
  .pay-online-amount{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }
  .pay-online-amount div{
    line-height: 1;
  }
  .payment-method-cutout-price {
    font-size: 15px;
    text-decoration: line-through;
    color: #888;
  }
  
  .payment-method-discounted-price {
    font-size: 22px;
    font-weight: 500;
    color: #000;
  }
  
  .payment-method-discount-percentage {
    font-size: 12px;
    color: #ffffff; 
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #2ecc71; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
   
  }
  
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  
  