@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.carousel {
    position: relative;
   
     display: flex;
     height: 620px;
     width: 100%;
    
   }
  
   .carousel_wrapper {
     position: relative;
     width: 100%;
     height: 100%;
   }
   
   .carousel_card {
     display: flex;
     flex: 1;
     position: absolute;
     width: 100%;
     height: 100%;
     overflow: hidden;
   
     -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.15);
     box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.15);
     opacity: 0;
     pointer-events: none;
     transform: scale(0.99999);
     transition: 0.6s ease-in-out; 
     
   }
   
   .carousel_card-active {
     opacity: 1;
     transform: scale(1);
     pointer-events: visible;
   }
   
   
   .carousel_card img, .carousel_card video{
    width: 100%;
    height: 100%;
    object-fit: cover;
   }
   .card_overlay {
     position: absolute;
     width: 0px;
     height: 0px;
     background-color: rgba(0, 0, 0, 0.5);
     display: flex;
   
     align-items: flex-end;
   }
   
   .carousel_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .carousel_arrow::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    transition: all 0.3s ease;
  }
  
  .carousel_arrow_left {
    left: 20px;
  }
  
  .carousel_arrow_right {
    right: 20px;
  }
  
  .carousel_arrow_left::before {
    transform: translate(-35%, -50%) rotate(-135deg);
  }
  
  .carousel_arrow_right::before {
    transform: translate(-65%, -50%) rotate(45deg);
  }
  
  .carousel_arrow:hover {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
   .carousel_pagination {
     position: absolute;
     bottom: 5px;
     left: 50%;
     transform: translate(-50%, 0);
   }
   
   .pagination_dot {
     height: 10px;
     width: 10px;
     background-color: transparent;
     border: 1.5px solid white;
     border-radius: 50%;
     display: inline-block;
     margin-left: 10px;
     cursor: pointer;
   }
   
   .pagination_dot:hover {
     transform: scale(1.2);
   }
   
   .pagination_dot-active {
     background-color: rgb(249, 249, 249);
   }
   .fluid-button-container{
  background-color: #efefef;
  padding-bottom: 15px;
 }
  
  .fluid-button {
    padding: 14px 40px; /* Base padding */
    border: 1px solid transparent;
    background-color: black;
    display: block;
    margin-inline: auto; /* Center button horizontally */
    color: #fffefd;
    font-weight: 500;
    font-size: 16px; /* Base font size */
   
    font-family: "Montserrat";
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.2s ease;
    z-index: 1; /* Ensure button text stays above pseudo-element */
  }
  
  .fluid-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #f9f7f7;
    transition: left 0.3s ease;
    z-index: -1; /* Make sure the pseudo-element stays behind the text */
  }
  
  .fluid-button:hover::before,
  .fluid-button:active::before {
    left: 0;
  }
  
  .fluid-button:hover,
  .fluid-button:active {
    color: #1c1c1c;
  }
  
  /* Responsive styles */
  
  @media(hover:none){
    .fluid-button:active::before {
      left: 0;
    }
    
    .fluid-button:active {
      color: #1c1c1c;
    }
  }
 
  @media(max-width: 950px){
    .carousel{
      height: 480px;
      width: 100%;
    }
    .carousel_arrow_left,
    .carousel_arrow_right{
     height: 30px;
     width: 30px;
     font-size: 30px;
    }
    .carousel_arrow{
      height: 35px;
      width: 35px;
    }
    .carousel_arrow::before{
      width: 7px;
    height: 7px;
    }
    .pagination_dot {
      height: 8px;
      width: 8px;
    
      margin-left: 8px;
      
    }
  }
  @media (max-width: 768px) {
    .carousel_arrow {
      width: 25px;
      height: 25px;
    }
  
    .carousel_arrow::before {
      width: 6px;
      height: 6px;
    }
  }
  @media(max-width: 650px){
    .carousel{
      height: 330px;
     
    }
    .carousel-button{
      height: 20px;
      width: 20px;
      font-size: 20px;
    }
    .carousel_arrow_left, .carousel_arrow_right{
     
      display: none;
    }
    .pagination_dot {
      height: 5px;
      width: 5px;
      border: 1px solid white;
      margin-left: 5px;
      
    }
  }
 
  @media (max-width: 768px) {
    .fluid-button {
      padding: 12px 30px; 
      font-size: 14px; 
      /* margin-top: 15px;  */
    }
  }
  
  @media (max-width: 480px) {
    .fluid-button-container{
      padding-bottom: 15px;
    }
    .fluid-button {
      padding: 10px 20px; 
      font-size: 12px; 
    }
  }
  