.mycard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}
.mycard {
  height: 700px;
  width: 470px;
}
.mycard-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.mycard-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  transition: transform 5s ease;
}

.mycard-wrapper h1,
.mycard-wrapper button {
  position: absolute;
}
.mycard-wrapper h1 {
  margin-block: 25px;
  color: white;
  bottom: 14%;
  left: 5%;
}
.mycard-wrapper button {
  background-color: white;
  margin-bottom: 20px;
  color: #363636;
  width: 200px;
  padding: 14px 28px;
  border: none;
  outline: none;
  cursor: pointer;
  bottom: 5%;
  left: 5%;
}

.mycard-wrapper img:hover {
  transform: scale(1.1);
}
@media(max-width: 1300px){
  .mycard-container{
    gap: 10px;
  }
  .mycard{
    height: 540px;
    width: 375px;
  }
}
@media(max-width: 1150px){
  .mycard-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    row-gap: 30px;
  }
  .mycard{
    height: 700px;
    width: 470px;
  }
}

@media (max-width: 950px){
  .mycard{
    height: 540px;
    width: 375px;
  }
  .mycard-wrapper h1 {
    margin-block: 15px;
   
  }
  .mycard-wrapper button {
  
    margin-bottom: 10px;
  
    width: 100px;
    padding: 7px 14px;
   
    bottom: 5%;
    left: 5%;
  }
}
@media(max-width: 700px){
  .mycard-container{
   
    grid-template-columns: repeat(1,1fr);
  
    row-gap: 15px;
  }
  .mycard{
    height: 700px;
    width: 100%;
    max-width: 470px;
  }
  .mycard-wrapper h1 {
    margin-block: 25px;
   
  }
  .mycard-wrapper button {
  
    margin-bottom: 20px;
    width: 200px;
    padding: 14px 28px;
  }
}
