.shopcategory-banner {
  display: block;
  margin: 30px auto;
  width: 92%;
}
.shopcategory-indexSort {
  display: flex;
  margin: 0px 170px;
  align-items: center;
  justify-content: space-between;
}
.shopcategory-sort select {
  padding: 10px 15px;
  border-radius: 40px;
  border: 1px solid #888;
  cursor: pointer;
}
.shopcategory-sort img {
  height: 15px;
  margin-left: 10px;
}
.shopcategory-indexSort p span {
  font-weight: 600;
}
.shopcategory-container {
  display: flex;
  justify-content: space-around;
}
.filter-container {
  display: flex;
  flex-direction: column;
  /* margin-left: 20px; */
}
.filter-container div{
  display: flex;
  flex-direction: column;
    margin-block: 20px;
}
.filter-container  h4{
   
    color: #1c1b1b;
  margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 600;
}
.filter-container label{
    color: #606060;
 
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
   margin-block: 5px;
}
.filter-container label input{
cursor: pointer;
margin-inline: 6px;
}
.filter-container button{
    width: 150px;
    height: 40px;
    border-radius: 5px;
  background-color: #1c1b1b;
    color: #fff;
    text-align: center;
   border: none;
   outline: none;
    font-size: 16px;
    margin-top: 19px;
    padding: 10px 0;
}
.filter-container button:active{
  background-color: #606060;
  box-shadow: 0 1px #666;
}
.shopcategory-products {
  width: 73%;
  margin: 20px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
  row-gap: 3px;
 padding-inline: 9px;
  background-color: #efefef;
}
.shopcategory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background-image: linear-gradient(to right, #ff512f 0%, #f09819 100%);
  background-image: linear-gradient(
    to right,
    rgb(226 52 43) 0%,
    rgb(255 106 28) 100%
  );
  color: white;
  cursor: pointer;
}
.shopcategory-sort {
  position: relative;
  width: 200px;
  margin: 20px 0;
  display: flex;
  justify-content: flex-end;
}

.shopcategory-sort select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  font-size: 16px;
  padding: 10px 15px;
  background-color: #ffffff;
  border: 1px solid #383737;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}

.shopcategory-sort select:hover {
  border-color: #bdbdbd;
}

.shopcategory-sort select:focus {
  outline: none;
  border-color: #090800;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.shopcategory-sort::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 12px;
  color: #757575;
}

.shopcategory-sort select option {
  background-color: #ffffff;
  color: #333;
  cursor: pointer;
}
.filter-cross-icon{
  display: none;

}
.apply-filter-button{
  display: none;
}
@media (max-width: 1350px) {
  .shopcategory-products {
    margin: 20px 10px;
  }
}

@media (max-width: 1250px) {
  .shopcategory-products {
    width: 100%;
    margin: #efefef;
  }
}

@media (max-width: 1150px) {
  .shopcategory-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    margin: 20px 0px;
  }
}

@media (max-width: 1100px) {
  .shopcategory-sort select {
    width: 200px;
  }
  .filter-container {
    display: block;
    position: fixed;
    top: 50px;
    background-color: white;
    width: 300px;
    height: 100vh;
    z-index: 998;
    padding: 15px 7%;
    transition: left 0.5s;
    left: -550px;
  }
  .filter-cross-icon {
    display: block;
    height: 28px;
    width: 28px;
    margin: 10px 10px;
    cursor: pointer;
  }
  .apply-filter-button{
    display: block;
  }
}


@media (max-width: 768px) {
  .shopcategory-sort {
    width: 100%;
    margin: 0px;
  }
}

@media (max-width: 600px) {
  .shopcategory-products {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    padding: 0px;
    grid-gap: 0px;
  }
  .shopcategory-banner {
    margin: 0;
    width: 100%;
  }
  .shopcategory-indexSort {
    margin: 10px 10px;
  }
  .shopcategory-loadmore {
    margin: 20px auto;
    width: 133px;
    height: 39px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
  }
}

@media (max-width: 468px) {
  .shopcategory-products {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }
  .shopcategory-loadmore {
    margin-top: 0px;
  }
}