@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap");

.productDisplay * {
  font-family: "Assistant", sans-serif;
}

.productDisplay {
  display: flex;
  max-width: 1020px;
  width: calc(95%);
  height: auto;
  justify-content: center;
  margin-inline: auto;
  margin-block: clamp(20px, 5vw, 40px);
  gap: 10px;
}
.productDisplay-left {
  display: flex;
  gap: 13px;
  width: 55%;
  aspect-ratio: 2/2.2;
}
.productDisplay-img-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 23%;
  overflow-y: auto;
  padding-right: 6px;
}

.productDisplay-img-list {
  overflow-y: auto; /* Enable vertical scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
  scrollbar-width: thin; /* For modern browsers (Firefox) */
  scrollbar-color: #888 #ebebeb; /* Thumb and track colors */
}

.productDisplay-img-list::-webkit-scrollbar {
  width: 5px; /* Scrollbar width */
}

.productDisplay-img-list::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
  border-radius: 8px; /* Rounded corners */
}

.productDisplay-img-list::-webkit-scrollbar-track {
  background: #ebebeb; /* Track color */
}

.productDisplay-img-list img,
.productDisplay-img-list video {
  height: auto;
  width: calc(100%-4px);
  border-radius: min(11%, 20px);
  transition: all 0.1s ease;
  cursor: pointer;
}
.image-selected{
  border: 2px solid #e41029;
}
.productDisplay-img {
  position: relative;
  width: 75%;
}
.productDisplay-main-img {
   position: relative;
  z-index: 9;
  object-fit: cover;
  cursor: pointer;
  width: 100%;
  height: auto;
  border-radius: min(7%, 24px);
  transition: all 0.5s ease-in;
  animation: fadeIn1 0.3s ease-in; /* Apply fade-in animation */
}
@keyframes fadeIn1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.productDisplay-left-rating {
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 18;
    display: flex;
    align-items: center;
   
    gap: 5px;
    color: #1c1c1c;
    background-color: rgb(250, 249, 249);
    border: 0.3px solid #949494;
    font-size: 16px;
    width: min(35%, 130px);
    height: min(8%, 40px);
    border-radius: 9px;
   
   
  }
  .productDisplay-left-rating span {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
    padding: 3px 3px;
  
    border-radius: 8px;
    width: 100%;
    color: #303030;
   
  }
  .productDisplay-left-rating span img {
    height: 15px;
    width: 15px;
  }


.productDisplay-right {
  position: relative;
  margin: 0px 0px 0px 4vw;
  padding-right: 10px;
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  width: 44%;
  aspect-ratio: 3/2;
  overflow-y: scroll;
  overflow-x: hidden;
}
.productDisplay-right::-webkit-scrollbar {
  width: min(2cqi, 10px);
}

.productDisplay-right::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.productDisplay-right::-webkit-scrollbar-track {
  background: #ebebeb;
}
.productDisplay-right h1 {
  color: #3d3d3e;
  font-size: 8cqi;
  font-weight: 400;
}
.productDisplay-right-prices {
  display: flex;
  margin: 4cqi 0px;
  gap: 20px;
  font-size: 8cqi;
  font-weight: 700;
  font-family: "Assistant", sans-serif;
}
.productDisplay-right-price-old {
  color: #8c8c8c;
  font-size: 8cqi;
  font-weight: 400;
  text-decoration: line-through;
}
.productDisplay-right-price-new {
  color: #000000;
  font-size: 8cqi;
  font-weight: 600;
}
.productDisplay-right-price-discount {
  font-size: 7cqi;
  font-weight: 500;
  color: #00b852;
}
.productDisplay-right-price-discount {
  background-image: linear-gradient(
    to right,
    rgb(242, 112, 156),
    rgb(255, 148, 114)
  );
  clip-path: polygon(0 0, 91% 0, 100% 100%, 0% 100%);
  color: white;
  padding-inline: 2cqi;
  text-align: center;
  border-radius: 2px;
  display: inline-block;
  width: fit-content;
}
.productDisplay-tax-statement {
  color: #8c8c8c;
  margin-bottom: 0cqi;
  font-size: 5cqi;
}
.productDisplay-color-size-selector {
  margin-bottom: 4cqi;
  max-width: 390px;
}
.productDisplay-color-size-selector p {
  margin: 2.5cqi 0px 2.5cqi 0px;
  color: #656565;
  font-size: 7cqi;
  font-weight: 600;
}
.productDisplay-right-discription {
  margin-top: 5px;
}
.productDisplay-button-container {
  width: 100%;
  display: flex;
  gap: 10px;
}
.productDisplay-height-selector {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3%;
    margin-bottom: 5%;
   
    height: auto;
  }
  .productDisplay-height-selector button {
  background-color: #ffffff;
  
   color: #1c1b1b;
   outline: none;
  border: 1px solid #1c1b1b;
  border-radius: 5%;
  cursor: pointer;
  transition: all 0.2s ease;
  }
  
    .productDisplay-height-selector button {
      width: 40%;
      border-radius: 2cqi;
     font-size: 5.4cqi;
      margin-left: 2px;
    }
    .productDisplay-height-selector button.selected
   {
    
    color: white;
    background-color: #1c1c1c;
    }
.productDisplay-color-selector {
  display: grid;
  width: 85%;

  grid-template-columns: repeat(7, 1fr);
  transition: all 0.2s ease;
  gap: 4cqi;
}
.productDisplay-color-selector button {
  width: 100%;
  border: none;
  border-radius: 50%;
  margin-left: 6px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.productDisplay-color-selector button.selected {
  box-shadow: inset 0 0 0 0.8cqi #fff, 0 0 0 0.3cqi #1b1b1b;
}
.productDisplay-size-selector {
  display: grid;
  gap: 2cqi;
  width: 92%;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 3cqi;
  transition: all 0.2s ease;
}
.productDisplay-size-selector button {
  background-color: #ffffff;

  color: #1c1b1b;
  outline: none;
  border: 1px solid #1c1b1b;
  border-radius: 5%;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%;
  border-radius: 5cqi;
  margin-left: 2%;
  font-size: 4.1cqi;
  position: relative;
  overflow: hidden;
}
.productDisplay-size-selector button.selected {
  color: white;
  background-color: #1c1c1c;
}
.product-display-error-message {
  color: red;
  transform: all 0.3s;
  font-size: 13px;
  margin-top: -5px;
  margin-bottom: 7px;
  font-weight: 400;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  animation: ErrorCome 0.3s ease-in-out forwards; /* Apply animation */
}
@keyframes ErrorCome {
  0% {
    opacity: 0;
    transform: translateY(
      -10px
    ); /* Start with the message higher and invisible */
  }
  100% {
    opacity: 1;
    transform: translateY(
      0
    ); /* End with the message visible and in its place */
  }
}
.productDisplay-button-container button,
.productDisplay-buy-button,.productDisplay-buy-button-mobile {
  font-weight: 600;
  color: white;
  background: tomato;

  background-image: linear-gradient(
    to right,
    rgb(226 52 43) 0%,
    rgb(255 106 28) 100%
  );
  max-width: 340px;
  padding: 3cqi 6cqi;
  font-size: 16px;
  margin-block: 10px;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
}
.productDisplay-buy-button-mobile{
  display: none;
}
.size-chart {
  margin-block: 20px;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  text-decoration: underline;
}
.chart-header {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.chart-header img {
  height: 100%;
  cursor: pointer;
}
.size-chart-image img {
  width: 100%;
}
.productDisplay-trust-image {
  width: 100%;
}
.mobile-button-container{
    display: none;
}
.no-reviews-message {
  text-align: center;
 min-height: 100px;
  font-size: 1.2rem;
  color: #555;
  margin: 2rem 0; /* Center the message vertically */
}
.spinner-icon {
  animation: spinIcon 1s linear infinite;
}

@keyframes spinIcon {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media (max-width: 500px) {
  .productDisplay {
    flex-direction: column;
    gap: 20px;
  }
  .productDisplay-left {
    width: 95%;
    margin-inline: auto;
   height: 98vw;
  }
  .productDisplay-img-list {
   
    padding-right: 12px;
  }
  
  .productDisplay-right {
    width: 95%;
    margin-left: 0px;
    padding-inline: 2vw;
    aspect-ratio: auto;
    overflow-y: visible;
  }
  .productDisplay-color-size-selector p {
    margin-block: 3.5cqi;
    font-size: 6cqi;
  }
  .productDisplay-right-prices{
    margin-block: 2cqi;
    font-size: 5cqi;
  }
  .productDisplay-button-container,.productDisplay-buy-button {
    display: none;
  }
  .mobile-button-container{
    display: block;
  }
  .mobile-button-container {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  .productDisplay-buy-button-mobile{
    display: block;
  }
  /* Button Styling */
  .mobile-button-container button {
    flex: 1;
    padding: 3cqi;

    font-size: 4.2cqi;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  
 
    border-radius: 8px;
    cursor: pointer;
   
    transition: background-color 0.3s;
  }
.wishlist-button{
background-color: white;
border: 2px solid #ddd;
}
.wishlist-icon {
 
  color: #ccc;
 cursor: pointer;
  transition: all 0.3s ease;
  font-size: 5cqi;
}

.wishlist-icon.liked{
  color: red;
  animation: heartbeat 0.2s ease-in-out;
  border: none;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
  .cart-button {
    background-image: linear-gradient(
      to right,
      rgb(226 52 43) 0%,
      rgb(255 106 28) 100%
    );
    color: #fff;
    border: none;
    /* background-color: #4caf50; */
    margin-left: 10px;
  }

  .productDisplay-right h1 {
    margin-top: 6cqi;
    font-size: 7.5cqi;
  }
}
