.productDisplay {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  gap: 10px;
}

.productDisplay-left {
  display: flex;
  gap: 13px;
}
.productDisplay-img-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}
.productDisplay-img-list::-webkit-scrollbar {
  width: 5px;
}

.productDisplay-img-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

.productDisplay-img-list::-webkit-scrollbar-track {
  background: #ebebeb;
}
.productDisplay-img-list img {
  height: 134px;
  width: 134px;
  cursor: pointer;
}
.productDisplay-main-img {
  height: 600px;
  width: 500px;
 
}
.productDisplay-right {
  margin: 0px 40px;
  display: flex;
  flex-direction: column;
  height: 590px;
  width: 440px;
  overflow-y: scroll;
}
.productDisplay-right::-webkit-scrollbar {
  width: 10px;
}

.productDisplay-right::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.productDisplay-right::-webkit-scrollbar-track {
  background: #ebebeb;
}
.productDisplay-right h1 {
  color: #3d3d3e;
  font-size: 30px;
  font-weight: 400;
}

.productDisplay-right-stars {
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 5px;
  color: #1c1c1c;
  font-size: 16px;
}
.productDisplay-right-stars span {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(250, 249, 249);

  padding: 3px 3px;
  border: 0.3px solid #949494;

  border-radius: 1px;

  color: #303030;
  width: 59px;
 height: 25px;
}
.productDisplay-right-stars span img{
  height: 15px;
  width: 15px;
}
.productDisplay-right-prices {
  display: flex;
  margin: 15px 0px;
  gap: 20px;
  font-size: 24px;
  font-weight: 700;
}
.productDisplay-right-price-old {
 
  color: #8c8c8c;
  font-size: 22px;
  font-weight: 400;
  text-decoration: line-through;
}
.productDisplay-right-price-new {
 
  color: #000000;
  font-size: 25px;
  font-weight: 600;
}
.productDisplay-right-price-discount{
  
  font-size: 25px;
  font-weight: 500;
  color: #00b852;
}
.productDisplay-right-size h1 {
  margin-top: 10px;
  color: #656565;
  font-size: 20px;
  font-weight: 600;
}

.productDisplay-right-sizes {
  display: flex;
  margin: 10px 0px;
  gap: 15px;
}
.productDisplay-right-sizes button{
    padding: 18px 24px;
    background-color: #fbfbfb;
   
    border-radius: 3px;
    cursor: pointer;
}
.productDisplay-right-size div:not(.height-selector){
  display: grid;
  width: 70%;
  grid-template-columns:  repeat(auto-fill, minmax(13%, 1fr)); 
  /* grid-template-columns: repeat(6,1fr); */
  gap: 11px;
    }
    .productDisplay-right-size p{
      margin-top: 10px;
      margin-bottom: 10px;
      color: #656565;
      font-size: 20px;
      font-weight: 600;
    }
    .productDisplay-right-size .height-selector button{
height: 40px;
    }
.size-not-selected{
  border: 1px solid #ebebeb;
}
.size-selected{
  /* border: 2px solid #1b1c1c; */
  border: 2px ridge rgba(227, 83, 16, 0.6);
}


.women-size button{
  padding: 15px 30px;
/* width: 200px; */
font-size: 16px;
font-weight: 600;
margin-block: 10px;
border-radius: 50px;
/* border: none; */
outline: none;
cursor: pointer;
}
.height-not-selected{
  background-color: transparent;
  border: 2px solid #FF512F;
}
.height-selected{
  background-image: linear-gradient(to right, #FF512F 0%, #F09819  100%);
  color: white;
  border: none;
}
.outer-color{
  height: 50px;
  width: 50px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
 
}
.select-color div{
 height: 30px;
 width: 30px;

}

.button-container{
  display: flex;
  gap: 10px;
}
 .button-container button, .buy-button{

padding: 15px 30px;
/* width: 200px; */
font-size: 16px;
font-weight: 600;
color: white;
background: tomato;

background-image: linear-gradient(to right, #FF512F 0%, #F09819  100%);
margin-block: 10px;
border-radius: 50px;
border: none;
outline: none;
cursor: pointer;
}
.women-size{
  display: flex;
     gap: 20px;
}
.tax-statement{
  color: #8c8c8c;
  margin-bottom: 20px;
}
.trust-image{
  width: 98%;
}
.review-container{
  display: flex;
  flex-direction: column;

}
.review-headings{
  display: flex;
  justify-content: space-around;
}
.review-headings h5{
  margin-top: 10px;
  margin-bottom: 9px;
  color: #656565;
  font-size: 16px;
  padding-bottom: 9px;
  width: 170px;
  text-transform: uppercase;
  border-bottom: 5px solid rgb(227, 162, 10);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.review-headings button, .open-rating-button{
  height: 40px;
  width: 100px;
  background-color: transparent;
  color: #656565;
  border: 1px solid rgb(227, 162, 10);
  margin-top: 10px;
}
.women-size button{
 font-size: 12px;
 padding: 7px 16px;

}
.buy-button{
  width: 80%;
}
.productDisplay-right-category{
  margin-top: 10px;
}
.productDisplay-right-category span{
  font-weight: 600;

}
.size-chart{
  margin-block: 20px;
font-size: 19px;
font-family: "Montserrat", sans-serif;
cursor: pointer;
text-decoration: underline;
}
.chart-header{
  height: 30px;
  width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;
}
.chart-header img{
  height: 100%;
  cursor: pointer;
}
@media(max-width:1280px){
  .productDisplay{
    margin: 40px auto;
  }
  .productDisplay-left{
    gap: 10px;
  }
  .productDisplay-img-list {
    height: 510px;
    gap: 10px;
  }
  .productDisplay-img-list img {
    height: 120px;
    width: 120px;
  }
  .productDisplay-main-img {
   width: auto;
   height: 510px;
  }
  .productDisplay-right {
    margin: 0px 30px;
    height: 490px;
   
  }
  .productDisplay-right h1 {
   font-size: 22px;
  }
  
  .productDisplay-right-stars {
  gap: 3px;
  font-size: 13px;
  }
  .productDisplay-right-stars img {
    height: 16px;
  }
  .productDisplay-right-prices {
   margin: 10px 0px;
   font-size: 18px;
  }
  .productDisplay-right-size-discription{
    font-size: 13px;
  }
  .productDisplay-right-size h1 {
   margin-top: 20px;
   font-size: 20px;

  }
 
  .productDisplay-right-sizes div{
     padding: 14px 20px;
  }
  /* .productDisplay-right button{
 width: 150px;
 padding: 15px 0px;
 margin-bottom: 20px;
  } */
  
  .productDisplay-right-category{
    margin-top: 5px;
    font-size: 14px;
  }
 
}
@media(max-width:1024px){
  .productDisplay{
    margin: 30px auto;
  }
  .productDisplay-left{
    gap: 5px;
  }
  .productDisplay-right{
    gap: 5px;
    height: 350px;
  }
  .productDisplay-img-list{
    height: 350px;
  }
  .productDisplay-img-list img {
    height: 80px;
    width: 80px;
  }
  .productDisplay-main-img {
   height: 350px;
  }
 
  .productDisplay-right h1 {
   font-size: 18px;
  }
  .productDisplay-right-price-discount{
  
    font-size: 20px;
   
  }
  .productDisplay-right-stars img {
    height: 14px;
  }

  .productDisplay-right-size-discription{
    font-size: 11px;
  }
 
  .productDisplay-right-size h1 {
   margin-top: 10px;
 
  }
  .productDisplay-right-sizes {
    margin: 20px 0px;  
  }
 
  .productDisplay-right-sizes div{
     padding: 10px 16px;
  }
  /* .productDisplay-right button{
 width: 120px;
 padding: 10px 0px;
 margin-bottom: 10px;
 font-size: 14px;
  } */
  
  .productDisplay-right-category{
   font-size: 12px;
  }
 
}
@media(max-width:800px){
  .productDisplay{
    margin: 20px auto;
  }
  .productDisplay-left{
    gap: 0px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
  }
  .productDisplay-img-list{
   flex-direction: row;
   gap: 6px;
   width: 255px;
   height: 65px;
   overflow-x: auto;
   direction: ltr;
  }
  .productDisplay-img-list::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  .productDisplay-img-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
  }
  
  .productDisplay-img-list::-webkit-scrollbar-track {
    background: #ebebeb;
  }
  .productDisplay-img-list img {
    height: 60px;
    width: 60px;
  }
  .productDisplay-main-img {
   height: 300px;
  }
 
  .productDisplay-right h1 {
   font-size: 18px;
  }
  .productDisplay-right-prices div{
    margin: 5px 0px;
    font-size: 15px;
   }
 
  .productDisplay-right-stars img {
    height: 13px;
  }
  .productDisplay-right-price-discount{
  
    font-size: 18px;
   
  }
  .productDisplay-right-size-discription{
    font-size: 10px;
  }
  .productDisplay-right-sizes {
    margin: 10px 0px;  
    gap: 5px;
  }
  .productDisplay-right-size h1 {
   margin-top: 10px;
  }
 
  .productDisplay-right-sizes div{
     padding: 4px 11px;
  }
  /* .productDisplay-right button{
 width: 100px;
 
 font-size: 12px;
  }
   */
  .productDisplay-right-category{
   font-size: 10px;
  }
 
}
@media(max-width:650px){
  .productDisplay{
   
    flex-direction: column;
  }}
@media(max-width:650px){
  .productDisplay{
   
    flex-direction: column;
  }
  .productDisplay-left{
    gap: 10px;
    flex-direction: row;
   margin: auto;
  }
  .productDisplay-img-list{
   flex-direction: column;
   gap: 8px;
   height: 330px;
   width: 86px;
   overflow-x: auto;
  }
  .productDisplay-img-list img {
    height: 75px;
    width: 75px;
  }
  .productDisplay-main-img {
   height: 330px;
  }
  .productDisplay-right{
    height: auto;
    width: auto;
    overflow-y: auto;
   margin: 5px 15px;
   }
  .productDisplay-right h1 {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
  }
  .select-color div{
    height:10px;
    padding: 20px 16px;
 }
 
  .productDisplay-right-stars img {
    height: 15px;
  }
  .productDisplay-right-price-discount{
  
    font-size: 22px;
   
  }
  .productDisplay-right-size-discription{
    font-size: 10px;
  }
  .productDisplay-right-sizes {
    margin: 20px 0px;  
    gap: 10px;
  }
  .productDisplay-right-size h1 {
   margin-top: 10px;
  }
 
  .productDisplay-right-sizes div{
     padding: 10px 16px;
     font-size: 14px;
  }
  /* .productDisplay-right button{
 width: 130px;
 
 font-size: 15px;
 padding: 9px 0px;
  }
   */
  .productDisplay-right-category{
   font-size: 16px;
  }
 
}
