@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
.productDisplay {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  gap: 10px;
}

.productDisplay-left {
  display: flex;
  gap: 13px;
}
.productDisplay-img-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}
.productDisplay-img-list::-webkit-scrollbar {
  width: 5px;
}

.productDisplay-img-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

.productDisplay-img-list::-webkit-scrollbar-track {
  background: #ebebeb;
}
.productDisplay-img-list img,
.productDisplay-img-list video {
  height: 134px;
  width: 134px;
  border-radius: 10%;
  cursor: pointer;
}
.productDisplay-img img,
.productDisplay-img video {
  height: 600px;
  width: 500px;
  object-fit: cover;
}
.productDisplay-img {
  position: relative;
}
.productDisplay-main-img {
  z-index: 9;
  height: 600px;
  width: 500px;
  border-radius: 7%;
  transition:all 0.5s ease-in;
  animation: fadeIn 0.3s ease-in forwards; /* Apply fade-in animation */
}
@keyframes fadeIn {
  0% {
    opacity: 0;
   
  }
  100% {
    opacity: 1;
   
  }
}
.productDisplay-right {
  position: relative;
  margin: 0px 40px;
  display: flex;
  flex-direction: column;
  height: 590px;
  width: 440px;
  overflow-y: scroll;
}
.productDisplay-right::-webkit-scrollbar {
  width: 10px;
}

.productDisplay-right::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.productDisplay-right::-webkit-scrollbar-track {
  background: #ebebeb;
}
.productDisplay-right h1 {
  color: #3d3d3e;
  font-size: 30px;
  font-weight: 400;
}

.productDisplay-right-stars {
  position: absolute;
  bottom: 5%;
  right: 5%;
  z-index: 8;
  display: flex;
  align-items: center;
 
  gap: 5px;
  color: #1c1c1c;
  background-color: rgb(250, 249, 249);
  border: 0.3px solid #949494;
  font-size: 16px;
  width: 35%;
  height: 8%;
  border-radius: 9px;
 
  display: none;
}
.productDisplay-right-stars span {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 3px 3px;

  border-radius: 8px;
  width: 100%;
  color: #303030;
 
}
.productDisplay-right-stars span img {
  height: 15px;
  width: 15px;
}
.productDisplay-right-prices {
  display: flex;
  margin: 15px 0px;
  gap: 20px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Assistant", sans-serif;
}
.productDisplay-right-price-old {
  color: #8c8c8c;
  font-size: 22px;
  font-weight: 400;
  text-decoration: line-through;
}
.productDisplay-right-price-new {
  color: #000000;
  font-size: 25px;
  font-weight: 600;
}
.productDisplay-right-price-discount {
  font-size: 25px;
  font-weight: 500;
  color: #00b852;
}
.productDisplay-right-price-discount {
  background: linear-gradient(135deg, #4ADE80, #ebf1ee); 
  background: radial-gradient(266px at 12% 29.3%, rgba(58, 219, 154, 0.93) 2%, rgb(153, 228, 208) 38.6%, rgba(169, 251, 229, 0.82) 73.9%, rgb(253, 255, 238) 100.7%);
  color: white; /* Text color for contrast */
  font-size: 1rem; /* Adjust font size as needed */
  /* font-weight: bold; */
  text-align: center;
  /* padding: 0.5rem 1rem; */
 padding: 3px 7px;
 border-radius: 8px;
  display: inline-block;
  width: fit-content; /* Adjust width based on content */
}

.productDisplay-right-size {
  container-type: inline-size;
}
.productDisplay-right-size h1 {
  margin-top: 10px;
  color: #656565;
  font-size: 20px;
  font-weight: 600;
}

.productDisplay-right-sizes {
  display: flex;
  margin: 10px 0px;
  gap: 15px;
}
.productDisplay-right-sizes button {
  padding: 18px 24px;
  background-color: #fbfbfb;

  border-radius: 3px;
  cursor: pointer;
}
.productDisplay-right-size div:not(.height-selector) {
  display: grid;
  width: 70%;
  grid-template-columns: repeat(auto-fill, minmax(13%, 1fr));
  /* grid-template-columns: repeat(6,1fr); */
  gap: 11px;
}
.productDisplay-right-size p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #656565;
  font-size: 20px;
  font-weight: 600;
}
.productDisplay-right-size .height-selector button {
  height: 40px;
}
.size-not-selected {
  border: 1px solid #ebebeb;
}
.size-selected {
  /* border: 2px solid #1b1c1c; */
  border: 2px ridge rgba(227, 83, 16, 0.6);
  border: 2px solid #e41029;

}

.women-size button {
  padding: 15px 30px;
  /* width: 200px; */
  font-size: 16px;
  font-weight: 600;
  margin-block: 10px;
  border-radius: 50px;
  /* border: none; */
  outline: none;
  cursor: pointer;
}
.height-not-selected {
  background-color: transparent;
  border: 2px solid #ff512f;
}
.height-selected {
  background-image: linear-gradient(to right, #ff512f 0%, #f09819 100%);
  color: white;
  border: none;
}
.outer-color {
  height: 50px;
  width: 50px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.select-color div {
  height: 30px;
  width: 30px;
}
.productDisplay-mobile {
  display: none;
}
.mobile-button-container {
  display: none;
}
.button-container {
  display: flex;
  position: static;
  gap: 10px;
}
.button-container button,
.buy-button {
  font-weight: 600;
  color: white;
  background: tomato;

  background-image: linear-gradient(
    to right,
    rgb(226 52 43) 0%,
    rgb(255 106 28) 100%
  );
  padding: 15px 30px;
  /* width: 200px; */
  font-size: 16px;
  margin-block: 10px;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
}
.women-size {
  display: flex;
  gap: 20px;
}
.buy-button {
  max-width: 230px;
}
.tax-statement {
  color: #8c8c8c;
  margin-bottom: 20px;
}
.trust-image {
  width: 98%;
}
.review-container {
  display: flex;
  flex-direction: column;
}
.review-headings {
  display: flex;
  justify-content: space-around;
}
.review-headings h5 {
  margin-top: 10px;
  margin-bottom: 9px;
  color: #656565;
  font-size: 16px;
  padding-bottom: 9px;
  width: 170px;
  text-transform: uppercase;
  border-bottom: 5px solid rgb(227, 162, 10);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.review-headings button,
.open-rating-button {
  height: 40px;
  width: 100px;
  background-color: transparent;
  color: #656565;
  border: 1px solid rgb(227, 162, 10);
  margin-top: 10px;
}
.women-size button {
  font-size: 12px;
  padding: 7px 16px;
}
.buy-button {
  width: 80%;
}
.productDisplay-right-category {
  margin-top: 10px;
}
.productDisplay-right-category span {
  font-weight: 600;
}
.size-chart {
  margin-block: 20px;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  text-decoration: underline;
}
.chart-header {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.chart-header img {
  height: 100%;
  cursor: pointer;
}
.size-chart-image img {
  width: 100%;
}
.product-display-error-message {
  color: red;
  transform: all 0.3s;
  font-size: 13px;
  margin-top: 10px;
  font-weight: 400;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  animation: ErrorCome 0.3s ease-in-out forwards; /* Apply animation */
}
@keyframes ErrorCome {
  0% {
    opacity: 0;
    transform: translateY(
      -10px
    ); /* Start with the message higher and invisible */
  }
  100% {
    opacity: 1;
    transform: translateY(
      0
    ); /* End with the message visible and in its place */
  }
}
.spinner-icon {
  animation: spinIcon 1s linear infinite;
}

@keyframes spinIcon {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media (max-width: 1280px) {
  .productDisplay {
    margin: 40px auto;
  }
  .productDisplay-left {
    gap: 10px;
  }
  .productDisplay-img-list {
    height: 510px;
    gap: 10px;
  }
  .productDisplay-img-list img,
  .productDisplay-img-list video {
    height: 120px;
    width: 120px;
  }
  .productDisplay-img img,
  .productDisplay-img video {
    width: auto;
    height: 510px;
  }
  .productDisplay-right {
    margin: 0px 30px;
    height: 490px;
  }
  .productDisplay-right h1 {
    font-size: 22px;
  }

  .productDisplay-right-stars {
    gap: 3px;
    font-size: 13px;
  }
  .productDisplay-right-stars img {
    height: 16px;
  }
  .productDisplay-right-prices {
    margin: 10px 0px;
    font-size: 18px;
  }
  .productDisplay-right-size-discription {
    font-size: 13px;
  }
  .productDisplay-right-size h1 {
    margin-top: 20px;
    font-size: 20px;
  }

  .productDisplay-right-sizes div {
    padding: 14px 20px;
  }

  .productDisplay-right-category {
    margin-top: 5px;
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .productDisplay {
    margin: 30px auto;
  }
  .productDisplay-left {
    gap: 5px;
  }
  .productDisplay-right {
    gap: 5px;
    height: 350px;
    overflow-x: hidden;
  }
  .productDisplay-img-list {
    height: 350px;
  }
  .productDisplay-img-list img,
  .productDisplay-img-list video {
    height: 80px;
    width: 80px;
  }
  .productDisplay-img img,
  .productDisplay-img video {
    height: 350px;
  }

  .productDisplay-right h1 {
    font-size: 18px;
  }
  .productDisplay-right-price-discount {
    font-size: 20px;
  }
  .productDisplay-right-stars img {
    height: 14px;
  }

  .productDisplay-right-size-discription {
    font-size: 11px;
  }

  .productDisplay-right-size h1 {
    margin-top: 10px;
  }
  .productDisplay-right-sizes {
    margin: 20px 0px;
  }

  .productDisplay-right-sizes div {
    padding: 10px 16px;
  }
  /* .productDisplay-right button{
 width: 120px;
 padding: 10px 0px;
 margin-bottom: 10px;
 font-size: 14px;
  } */

  .productDisplay-right-category {
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  .productDisplay {
    margin: 20px auto;
  }
  .productDisplay-left {
    gap: 0px;
    padding-inline: 13px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
  }
  .productDisplay-right-stars {
display: flex;  
}
  .productDisplay-img-list {
    flex-direction: row;
    gap: 6px;
    width: 255px;
    height: 65px;
    overflow-y: hidden;
    overflow-x: auto;
    direction: ltr;
  }
  .productDisplay-img-list::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .productDisplay-img-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
  }

  .productDisplay-img-list::-webkit-scrollbar-track {
    background: #ebebeb;
  }
  .productDisplay-img-list img,
  .productDisplay-img-list video {
    height: 60px;
    width: 60px;
  }
  .productDisplay-img img,
  .productDisplay-img video {
    height: 300px;
  }

  .productDisplay-right h1 {
    font-size: 18px;
  }
  .productDisplay-right-prices div {
    margin: 5px 0px;
    font-size: 15px;
  }
  .productDisplay-right-stars {
    border-radius: 9px;
  }
  
  
  .productDisplay-right-stars img {
    height: 100%;
    margin-left: 4%;
    margin-right: 10%;
  }
  .productDisplay-right-price-discount {
    font-size: 18px;
  }
  .productDisplay-right-size-discription {
    font-size: 10px;
  }
  .productDisplay-right-sizes {
    margin: 10px 0px;
    gap: 5px;
  }
  .productDisplay-right-size h1 {
    margin-top: 10px;
  }

  .productDisplay-right-sizes div {
    padding: 4px 11px;
  }
  /* .productDisplay-right button{
 width: 100px;
 
 font-size: 12px;
  }
   */
  .productDisplay-right-category {
    font-size: 10px;
  }
}

@media (max-width: 650px) {
  .productDisplay {
    flex-direction: column;
  }
  .productDisplay-left {
    gap: 10px;
    flex-direction: row;
    margin-inline: 10px;
  }
  .productDisplay-img-list {
    flex-direction: column;
    gap: 8px;
    height: 440px;
    width: 86px;
    overflow: scroll;
    overflow-x: visible;
  }
  .productDisplay-img-list img,
  .productDisplay-img-list video {
    height: auto;
    width: 75px;
  }
  .productDisplay-img{
    width: 80%;
  
  }
  .productDisplay-img img,
  .productDisplay-img video {
    /* height: 330px; */
    width: 100%;
    height: auto;
  }
  .productDisplay-right {
    height: auto;
    width: auto;
    overflow-y: auto;
    margin: 5px 15px;
  }
  .productDisplay-right h1 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
  }
  .select-color div {
    height: 10px;
    padding: 20px 16px;
  }
  .productDisplay-right-prices {
    gap: 13px;
    margin: 0;
  }
  .productDisplay-right-stars img {
    height: 100%;
  }
  .productDisplay-right-price-discount {
    font-size: 22px;
  }
  .productDisplay-right-size-discription {
    font-size: 10px;
  
  }
  .productDisplay-right-discription{
    margin-top: 13px;
  }
  .productDisplay-right-sizes {
    margin: 20px 0px;
    gap: 10px;
  }
  .productDisplay-right-size h1 {
    margin-top: 10px;
  }

  .productDisplay-right-sizes div {
    padding: 10px 16px;
    font-size: 14px;
  }
  .button-container {
    position: sticky;
    bottom: 30px;

    z-index: 980;
  }
  .button-container button,
  .buy-button {
    padding: 10px 20px;
    /* width: 200px; */
    font-size: 13px;
    margin-block: 5px;
    height: 40px;
    border-radius: 25px;
  }

  .productDisplay-right-category {
    font-size: 16px;
  }
  .productDisplay-right-size div:not(.height-selector) {
    width: 85%;
    grid-template-columns: repeat(8, 1fr);

    gap: 11px;
  }
  .productDisplay-right-size .size-selector {
    width: 70%;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-columns: repeat(6,1fr); */
    gap: 11px;
  }
  .review-container {
    padding: 5px;
  }
  .chart-header {
    margin-bottom: 5px;
  }
  .size-chart-image p {
    font-size: 12px;
  }
  .button-container,
  .productDisplay-desktop {
    display: none;
  }
  .mobile-button-container,
  .productDisplay-mobile {
    display: block;
  }
  .mobile-button-container {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  /* Button Styling */
  .mobile-button-container button {
    flex: 1;
    padding: 3cqi;

    font-size: 4.2cqi;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-image: linear-gradient(
      to right,
      rgb(226 52 43) 0%,
      rgb(255 106 28) 100%
    );
    transition: background-color 0.3s;
  }

  .cart-button {
    /* background-color: #4caf50; */
    margin-left: 10px;
  }

  .button-container svg {
    font-size: 4.2cqi;
  }
}
@media (max-width: 500px) {
  .productDisplay-right-size div:not(.height-selector) {
    width: 80%;
    grid-template-columns: repeat(7, 1fr);
    /* grid-template-columns: repeat(6,1fr); */
    gap: 11px;
  }
  .productDisplay-right-prices {
    gap: 10px;
    margin: 0;
  }
  .productDisplay-right-prices div{
  font-size: 4cqi;
  }
  .tax-statement {
    color: #8c8c8c;
    margin-bottom: 2px;
  }
  .chart-header img {
    height: 24px;
 
  }
}
@media (max-width: 470px) {
  .productDisplay-left{
    width: calc(100% - 47px);
  height: 100vw;
  }
  .productDisplay-img{
    width: 75%;
    height: auto;
  
  }
  .productDisplay-img-list {
    width: 23%;
    /* height:100%; */
    height: 95vw;
    margin-right: 5px;
    overflow-y: scroll;
   overflow-x: hidden;
  }
  .productDisplay-img-list::-webkit-scrollbar {
    width: 5px;
    margin-left: 10px;
  }
  .productDisplay-img-list img,
  .productDisplay-img-list video {
    width: 90%;
    height: auto;
  }
  .productDisplay-img img,
  .productDisplay-img video {
   width: 100%;
   height: auto;
  }
}
@media (max-width: 420px) {
  .productDisplay-img-list {
    width: 23%;
   
    height: 95vw;
   
  }
}
@media (max-width: 395px) {
  .productDisplay-img-list {
    width: 23%;
   
    height: 95vw;
   
  }
}
/* @media (max-width: 420px) {
  .productDisplay-img img,
  .productDisplay-img video {
    height: 300px;
  }
  .productDisplay-img-list {
    
    height: 300px;
    width: 80px;
    overflow: scroll;
    overflow-x: visible;
  }
  .productDisplay-img-list img,
  .productDisplay-img-list video {
    height: 70px;
    width: 70px;
  }
}
@media (max-width: 385px) {
  .productDisplay-left {
   padding-inline: 8px;
  }
  .productDisplay-img img,
  .productDisplay-img video {
    height: 270px;
  }
  .productDisplay-img-list {
    
    height: 270px;
    width: 72px;
    overflow: scroll;
    overflow-x: visible;
  }
  .productDisplay-img-list img,
  .productDisplay-img-list video {
    height: 63px;
    width: 63px;
  }
} */

