.review-container {
  display: flex;
  flex-direction: column;
  max-width: 1020px;
  width: calc(95%);
  margin-inline: auto;
}
.review-headings {
  display: flex;
  justify-content: space-between;
}
.review-headings h5 {
  margin-top: 10px;
  margin-bottom: 9px;
  color: #656565;
  font-size: 16px;
  padding-bottom: 9px;
  width: 170px;
  text-transform: uppercase;
  border-bottom: 5px solid rgb(227, 162, 10);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.review-headings button,
.open-rating-button {
  height: 40px;
  width: 100px;
  background-color: transparent;
  color: #656565;
  border: 1px solid rgb(227, 162, 10);
  margin-top: 10px;
}
.reviews-list {
  display: grid;
 
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
  } 
 
  .review-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;

    width: 90%;
    max-width: 250px;
    background-color: #f9f9f9;
    
  }
  @media (max-width: 500px) {
    .reviews-list {
      grid-template-columns: repeat(2,1fr);
    }
    .review-headings{
      width: 90%;
      margin-inline: auto;
    }
    .review-card{
      width: 85%;
    }
  }
 
  .review-media-gallery img, .review-media-gallery video{
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  .review-header {
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .review-header h3 {
    margin: 0;
    font-size: 1.3rem;
    color: #333;
  }
  .review-details{
    margin-block: 10px;
  }
  .review-details p{
width: 100%;
  }
  .rating {
    display: flex;
    gap: 0.2rem;
  }
  
  .star {
    font-size: 1.5rem;
    color: #ccc;
  }
  
  .star.filled {
    color: #f5a623;
  }
  
  .review-text {
    margin: 0.5rem 0;
    color: #555;
  }
  
  .review-footer {
    font-size: 0.8rem;
    color: #888;
  }
  
  .review-date {
    font-style: italic;
  }
  