.reviews-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
  }
 
  .review-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;

    width: 90%;
    max-width: 250px;
    background-color: #f9f9f9;
    
  }
  @media (max-width: 650px) {
    .reviews-list {
display: grid;
grid-template-columns: repeat(2,1fr);
    }
    .review-card{
      width: 85%;
    }
  }
 
  .review-media-gallery img, .review-media-gallery video{
    width: 100%;
    height: auto;
  }
  .review-header {
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .review-header h3 {
    margin: 0;
    font-size: 1.3rem;
    color: #333;
  }
  .review-details{
    margin-block: 10px;
  }
  .review-details p{
width: 100%;
  }
  .rating {
    display: flex;
    gap: 0.2rem;
  }
  
  .star {
    font-size: 1.5rem;
    color: #ccc;
  }
  
  .star.filled {
    color: #f5a623;
  }
  
  .review-text {
    margin: 0.5rem 0;
    color: #555;
  }
  
  .review-footer {
    font-size: 0.8rem;
    color: #888;
  }
  
  .review-date {
    font-style: italic;
  }
  