.return-exchange-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  .return-exchange-container input[type="radio"]{
    accent-color: #1c1c1c;
  }
  .return-exchange-title {
    text-align: left;
    margin-left: 1rem;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .return-exchange-options {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .radio-label {
    font-size: 1.2rem;
    cursor: pointer;
  }
 .radio-label input{
    margin-right: 7px;
 } 
  .return-section,
  .exchange-section {
    margin-top: 20px;
  }
  .return-section h3,
  .exchange-section h3 {
    margin-bottom: 20px;
  }
  
  .return-reasons,
  .exchange-reasons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .size-options {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
  }
  
  .return-button,
  .exchange-button,
  .size-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
  }
  .exchange-button, .return-button{
    margin-top: 18px;
  }
  .return-button {
    background-color: #ff4d4d;
    color: white;
  }
  
  .exchange-button {
    background-color: #4caf50;
    color: white;
  }
  
  .size-button {
    background-color: #ddd;
    color: black;
    border: 1px solid #ccc;
  }
  
  .size-button.selected-size {
    background-color: #4caf50;
    color: white;
  }
  .other-reason {
    margin: 10px 0;
  }
  
  .other-reason-input {
    width: 90%;
    height: 60px;
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .quantity-section {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    width: 100%;
    margin: 10px 0;
  }
  
  .quantity-section h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .quantity-select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .quantity-select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  