.products-grid{
  display: grid;
  justify-items: center;
  
  background-color: #efefef;
  grid-template-columns: repeat(4, 1fr);
  padding-inline: clamp(0px, 2vw, 40px);
  row-gap: clamp(0px, 2vw, 20px);
  container-type: initial;
    margin-top: 30px;
}

  @media (max-width: 950px) {
    .products-grid {
      grid-template-columns: repeat(3, 1fr);
    }
    }
    @media (max-width: 640px) {
    .products-grid {
      grid-template-columns: repeat(2, 1fr);
    }
    }
    
    @media (max-width: 480px) {
    .products-grid {
      margin-top: 0px;
     padding: 3%;
    }}
  
  /* Add a decorative underline using a pseudo-element */
 