.dropdowm-container{
    position: absolute;
    background-color: #ebebeb;
    height: 380px;
    width: 100vw;
    right: 10px;
    top: 60px;
    animation: fadeIn 0.4s ease-in-out;
}
@keyframes fadeIn {
    from{
 opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
.dropdown{
    height: 320px;
    margin-block: 30px;
    width: 100%;
    background-color: #ebebeb;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sub-menu{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  
}
.sub-menu-categories{
    width: 60%;
}
.sub-menu-categories h5{
    font-family: "montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
    margin-bottom: 40px;
}

.sub-menu-categories ul{
    display:grid;
    grid-template-rows: repeat(7,30px);
    grid-auto-flow: column; /* Fill items column by column */
    /* flex-direction: column;
    align-items: flex-start; */
    margin-inline: 0px;
    margin-top: 40px;
    width: 100%;
    height: 230px; 
  
}
.sub-menu-categories ul li{
    list-style: none;
    height: 20px;
    width: 150px;
    margin-block: 10px;
    
    font-family: "montserrat", sans-serif;
    font-weight: 400;
}
.sub-menu-categories ul li a{
    height: 20px;
    width: 150px;
    font-size: 15px;
    padding: 7px 7px;
    margin: 0px;
    font-weight: 400;
    font-family: "montserrat", sans-serif;
    color: #1c1b1b;
}
.sub-menu-image{
    width: 20%;
}
.sub-menu-image h4{
    font-family: "montserrat", sans-serif;
    margin-block: 10px;
    font-size: 15px;
    font-weight: 400;
}
.sub-menu-image img{
    display: block;
width: 200px;
height: 270px !important;
}
