.dropdowm-container{
    position: absolute;
   
    height: 380px;
    width: 99vw;
    right: 10px;
    top: 60px;
    animation: fadeIn 0.4s ease-in-out;
}
@keyframes fadeIn {
    from{
 opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
.dropdown{
    height: 380px;
    width: 100%;
    background-color: #ebebeb;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sub-menu{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  
}
.sub-menu h5{
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
}
.sub-menu h4{
    font-family: 'montserrat', sans-serif;
    margin-block: 10px;
    font-size: 15px;
    font-weight: 400;
}
.sub-menu ul{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
    margin-top: 20px;
    width: 150px; 
   
}
.sub-menu ul li{
    list-style: none;
    height: 20px;
    width: 200px;
    margin-block: 10px;
    
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
}
.sub-menu ul li  a{
    height: 20px;
    width: 200px;
    font-size: 15px;
    padding: 15px 10px;
    margin: 0px;
    font-weight: 400;
    font-family: 'montserrat', sans-serif;
}
.submenu-image{
display: block;
width: 200px;
height: 270px !important;
}
