#navbar{
  position: sticky;
  top: 0%;
  z-index: 999;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
}
.navbar{
    height: 65px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.logo{
    height: 100%;
    margin-left: 4%;
}
.logo img{
    height: 100%;

}
.list ul {
    display: flex;
    list-style: none;
    align-items: center;
    width: 40vw;
    justify-content: flex-end;
    margin-right: 2rem;
  }
  
  .list ul  li {
    display: flex;
    align-items: center;
    height: 10vh;
    transition: all 0.2s ease-in-out;
  margin-inline: 10px;
    /* position: relative; */
    /* padding: 6px 13px; */
  }
  .list ul li a{
    text-decoration: none;
    color: #1b1919;
    font-size: 1.1rem;
    margin-inline: 0.2rem;
    cursor: pointer;
  }
  .list ul li img{
    height: 22px;
  }
  .list ul li a span{
   background-color: red;
   font-size: 3px;
   color: #17B677;
  }
 .search-box{
   display: flex;
   align-items: center;
   justify-content: space-around;
   background: #ebebeb;
   padding: 1px 2px;
   border-radius: 30px;
   height: 45px;
   width: 370px;
   margin-block: auto;
 }
 .search-box input{
  padding: 1px;
  background: transparent;
  border: 0;
  outline: 0;
  color: #242424;
  font-size: 15px;
  width: 70%;
 }
 .search-box input::placeholder{
  color: #8f8e8e;
  font-size: 14px;
 }
 .search-box img{
  height: 20px;
  cursor: pointer;
 }
  .navbar-items li a:hover {
 
    color: #17B677;
    border-bottom: 2px solid #17B677;
  }
  .icons{
    display: flex;
    align-items: center;
margin-right: 4%;
  }
  /* .icons img , .icons a{
    height: 50%;

  } */
   .icons a {
    height: 90%;
    position: relative;
   }
  .icons a img{
    height: 60%;
    margin: 10px 20px;
cursor: pointer;
  }
  .icons a span{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: rgb(249, 4, 4);

  } 
  @media(max-width:500px) {
    .navbar{
      /* display: none; */
    }
  }