#navbar {
  position: sticky;
  top: 0%;
  z-index: 999;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
}
.navbar {
  height: 65px;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  background-color: white;
}

.logo {
  height: 100%;
  margin-left: 4%;
}
.logo img {
  height: 100%;
}
.list ul {
  display: flex;
  list-style: none;
  align-items: center;
  width: 40vw;
  justify-content: flex-end;
  margin-right: 2rem;
}
.left-icons{
  display: none;
}
.list ul li {
  display: flex;
  align-items: center;
  height: 10vh;
  transition: all 0.2s ease-in-out;
  margin-inline: 10px;
  /* position: relative; */
  /* padding: 6px 13px; */
}
.list ul li a {
  text-decoration: none;
  color: #1b1919;
  font-size: 1.1rem;
  margin-inline: 0.2rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}
.list ul li img {
  height: 14px;
  margin-left: 5px;
}
.list ul li a span {
  background-color: red;
  font-size: 3px;
  color: #17b677;
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ebebeb;
  padding: 1px 2px;
  border-radius: 30px;
  height: 45px;
  width: 370px;
  margin-block: auto;
}
.search-box input {
  padding: 1px;
  background: transparent;
  border: 0;
  outline: 0;
  color: #242424;
  font-size: 15px;
  width: 70%;
}
.search-box input::placeholder {
  color: #8f8e8e;
  font-size: 14px;
}
.search-box img {
  height: 20px;
  cursor: pointer;
}
.navbar-items li a:hover {
  color: #17b677;
  border-bottom: 2px solid #17b677;
}
.icons {
  display: flex;
  align-items: center;
  margin-right: 4%;
}
.lushio-text {
  display: none;
}
.icons img {
  height: 60%;
  cursor: pointer;
}
.icons a {
  height: 70%;
  position: relative;
}
.icons a img {
  height: 60%;
  margin: 10px 10px;
  cursor: pointer;
}
.icons a span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 6%;
  right: 6%;
  height: 17px;
  width: 17px;
  font-size: 11px;
  border-radius: 50%;
  text-decoration: none;
  color: white;
  text-align: center;
  background-color: rgb(249, 4, 4);
  background-image: linear-gradient(
    to right,
    rgb(226 52 43) 0%,
    rgb(255 106 28) 100%
  );
}
.menu-open {
  display: none;
  cursor: pointer;
}
.submenu {
  display: none;
}
.header-search {
  width: 100%;

  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.header-search-form-control {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 60px;
  border: 1px solid #c9c9c9;
}
.header-search-form-control input {
  height: 85%;
  width: 85%;
  outline: none;
  border: none;
}
.header-search-form-control img {
  height: 40%;
  /* width: 40%; */
  margin-inline: 10px;
  cursor: pointer;
}

.wishlist-text {
  margin-bottom: 330px;
}
.header-search {
  display: none;
}
.search-icon {
  display: none;
}
.new-search{
  display: flex;
  position: relative;
  color: #555;
  /* display: block; */
  height: 40px;
  width:280px;
  margin-block: 10px;
}
.new-search img{
  height: 20px;
  position: absolute;
  right: 20px;
  top: 12px;
}
.new-search input{
  padding: 5px 30px 5px 10px;
  /* padding: 5px 5px 5px 40px; */
  font-size: 12px;
  /* line-height: 1.5; */
  box-shadow: none;
  width: 300px;
  background: #eaeaea;
  border: 1px solid transparent;
  color: rgba(0, 0, 0, .5);
  border-radius: 5px;
  position: relative;
  margin: 0;
  height: 80%;
  transition: all .1s ease-in .1s;
}
.new-search input:focus{
  outline: none;
  background: #ffffff;
  border: 1px solid #c9c9c9;
}
@media (max-width: 1300px) {
.list ul{
  width: 35vw;
}
}
@media (max-width: 1148px) {

  .logo {
    display: none;
  }
  .lushio-text {
    display: flex;
    align-items: center;
    /* height: 40px; */
    width: auto;
    margin: 0px;
  }
  .lushio-text img {
    /* margin-top: 10px; */
    height: 50%;
    width: auto;
  }
  .menu-open {
    display: block;
    /* position: fixed; */
    margin-block: 8px;
    left: 30px;
    width: 42px;
  }
  .list ,
  .search-box, .new-search {
    display: none;
  }
  .header-search {
    display: block;
    position: fixed;
    flex-direction: column;
    background-color: #fff;
    align-items: start;
    z-index: 2;
    left: 0px;
    transition: top 0.2s;
    top: -155px;
  }
  .submenu {
    display: block;
    position: fixed;
    flex-direction: column;
    top: 0px;
    gap: 30px;
    background-color: #1c1b1b;
    align-items: start;
    width: 350px;
    height: 100vh;
    z-index: 998;
    transition: left 0.5s;
    left: -550px;
  }

  .search-icon {
    display: block;
    margin-bottom: 0px;
    height: 26px !important;
  }
.wallet-icon{
  display: none;
}
.left-icons{
  display: flex;

align-items: center;
margin-left: 4%;
gap: 10px ;
  /* justify-content: center;
  align-items: center; */
}
.left-icons img {
  height: 40%;
  cursor: pointer;
}
.left-icons a {
  height: 90%;
  position: relative;
}
.left-icons a img {
 
  height: 40%;
  margin: 15px 11px;
  cursor: pointer;
}

  .icons img {
    height: 40%;
  }
  .icons a {
    height: 90%;
  }
  .icons a img {
    height: 40%;
    margin: 15px 11px;
  }
 
}
@media(max-width: 850px){
.left-icons {
  margin-left: 4%;
  gap: 6px;
}
}
@media (max-width: 700px) {
  .navbar {
    height: 54px;
  }
  .menu-open {
    margin-block: 12px;
    left: 10px;
    height: 24px !important;
  }
  .icons a img {
    height: 40%;
    margin: 15px 6px;
  }
  .left-icons a img {
 
    height: 40%;
    margin: 15px 6px;
   
  }
  .search-icon {
    margin-top: 1px;
    height: 20px !important;
  }
  .lushio-text img {
    /* margin-top: 10px; */
    /* height: 50%; */
    width: 90px;
  }
 
  .header-search-form-control {
 height: 45px;
  }
  .icons a span{
    top: 20%;
    right: 7%;
    height: 14px;
    width: 14px;
  }
}
@media (max-width: 500px) {

  .lushio-text img{
    /* width: 80%; */
    height: 40%;
    margin-top: 0px;
  }
  .menu-open {
    margin-top: 16px;
   
    height: 21px !important;
    width: 30px !important;
  }
  .left-icons {
    gap: 2px;
    margin-left: 4%;
  }
 
  .icons img{
    margin-top: 1px;
    height: 45%;
  }
  .search-icon{
    margin-bottom: 0px;
  }
}
@media (max-width: 380px){
  .left-icons {
    gap: 3px;
    margin-left: 2%;
  }
  .icons{
    margin-right: 2%;
  }
  .navbar {
    height: 50px;
  }
}